h2 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 2% 30%;
  padding: 2%;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 5px #edebeb;
}

.user_info {
  width: 60%;
}

.avatar {
  width: 40%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  margin-left: 1%;
  margin-right: 1%;
}

.profile_list li{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
  margin-bottom: 0.5%;
  list-style: none;
  padding: 2% 0%;
}