h2 {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
  text-align: center;
}

.query_bar {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}

/* ---------- Оформление строки поиска ---------- */

.search_bar {
  position: relative;
  display: flex;
  width: 90%;
}

.search_query {
  width: 100%;
  border-top: 1px solid #4F566F;
  border-bottom: 1px solid #4F566F;
  border-right: none;
  border-left: 1px solid #4F566F;
  border-right: none;
  padding: 5px;
  height: 24px;
  border-radius: 15px 0 0 15px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}

.search_query:focus{
  color: #380136;
}

.button_icon {
  margin-right: 2%;
}

/* ---------- Оформление кнопки новой заявки ---------- */

.search_button {
  width: 40px;
  height: 36px;
  border-top: 1px solid #4F566F;
  border-bottom: 1px solid #4F566F;
  border-right: 1px solid #4F566F;
  border-left: none;
  background-color: white;
  text-align: center;
  color: #4F566F;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}

.create_request_button {
  border: none;
  padding: 10px 15px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  background-color: #4F566F;
  color: white;
  font-size: 13px;
  border-radius: 30px;
  /* Настройки анимации при наведении на кнопку */
  transition: all 0.1s ease;
}

.create_request_button:hover {    /* Конечная анимация при наведении на кнопку */
  background-color: #4CAF50;
}

/* ---------- Оформление списка заявок ---------- */
.request_list {
  border-collapse: collapse;
  width:80%;
  margin: auto;
  }

.table_header {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: #354251;
}

.header_cell{
  border: none;
  padding: 10px;
}

.table_request_row {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  transition: all 0.3s ease;
}

.table_request_row:hover {
  background: #f0f0f0;
}

.request_cell {
 border-bottom: 1px solid #707070;
 padding: 10px;
}

.request_button_cell {
  border-bottom: 1px solid #707070;
  padding-left: 20px;
}

.edit_button {
  background-color: #4CAF50;
  padding: 7px;
  border-radius: 15%;
  cursor: pointer;
}

.alter_button {
  color: white;
}