<!-- Данный файл содержит описание базового шаблона приложения, которое будет отображаться на всех страницах. -->
<!-- В частности, шаблон содержит верхнюю панель управления с ссылками на разделы сайта. -->

<!-- Подгружает статический файл стилей CSS -->
{% load static %}

<!-- Стандартное наполнение файла HTML с примененной кодировкой и подстройкой под разрешение экрана-->
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

   <!-- Подключение шрифта Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <!-- Подключение иконок FontAwesome -->
    <script src="https://kit.fontawesome.com/a4664540f4.js" crossorigin="anonymous"></script>

    <!-- Подключение стилей CSS -->
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">

    <!-- Подключение дополнительных стилей CSS для страниц -->
    {% block additional_css %}{% endblock %}

    <!-- Подключение скриптов JS для страниц -->
    {% block additions_js %}{% endblock %}

    <!-- Блок заполнения названия страницы -->
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
   <a href="{% url 'home' %}" class="h1"><i class="fa-solid fa-laptop-code fa-sm main_logo"></i>HELPDESK</a>
    <nav>

        <ul>
            <a href="{% url 'requests' %}"><li class="menu_item">Заявки</li></a>
            <a href=""><li class="menu_item">Знания</li></a>
            <div class="profile">
                <button class="profile_username">
                    {{ request.user.last_name }}&nbsp;{{ request.user.first_name }}
                <i class="fa fa-angle-down dropdown_logo"></i></button>
                <div class="profile_dropdown">
                    <a href="{% url 'user_profile' %}" class="profile_dropdown_list">Профиль</a>
                    <a href="{% url 'logout' %}" class="profile_dropdown_list">Выход</a>
                </div>
            </div>
        </ul>
    </nav>
        {% block main %}
        {% endblock %}
</body>
</html>