<!-- Содержимое страницы с заявками req_page.html, подставляемое в шаблон -->

<!-- Объявление шаблона, в который будут подставляться данные -->
{% extends 'main/base_template.html' %}
{% load static %}

<!-- Подключение дополнительного CSS -->
{% block additional_css %}
<link rel="stylesheet" href="{% static 'main/css/assets.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

<!-- Заголовок страницы -->
{% block title %}База знаний{% endblock %}

<!-- Текст на странице -->
{% block main %}
<h2>База знаний</h2>

<div class="container">
    <div class="tile">
        <i class="fa-solid fa-envelope fa-5x icon" style="color: #ffffff;"></i>
        <h3>Настройка почтового ящика</h3>
    </div>
    <div class="tile">
        <i class="fa-solid fa-globe fa-5x icon" style="color: #ffffff;"></i>
        <h3>Настройка VPN-подключения</h3>
    </div>
    <div class="tile">
        <i class="fa-solid fa-address-book fa-5x icon" style="color: #ffffff;"></i>
        <h3>Настройка адресной книги Outlook</h3>
    </div>
</div>
{% endblock %}