<!-- Содержимое страницы создания пользователя new_user.html, подставляемое в шаблон -->

<!-- Объявление шаблона, в который будут подставляться данные -->
{% extends 'main/base_template.html' %}
{% load static %}

<!-- Подключение дополнительного CSS -->
{% block additional_css %}
<link rel="stylesheet" href="{% static 'main/css/new_user.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

<!-- Заголовок страницы -->
{% block title %}Создание пользователя{% endblock %}

{% block main %}
<h2>Создание пользователя</h2>

<div class="main">
    <div class="container">
        <form method="post" enctype="multipart/form-data" class="form">
           {% csrf_token %}

             <div class="header_1">
                <h3>ФИО пользователя</h3>
            </div>

            <div class="full_name">
                <div class="field">
                    <p>Фамилия:     <span class="asterix">*</span></p>
                    {{ user_form.last_name }}
                </div>
                <div class="field">
                    <p>Имя:     <span class="asterix">*</span></p>
                    {{ user_form.first_name }}
                </div>
                <div class="field">
                    <p>Отчество (при наличии):</p>
                    {{ profile_form.patron }}
                </div>
            </div>

            <div class="header_2">
                <h3>Учетные данные</h3>
            </div>

            <div class="credentials">
                <div class="field">
                    <p>Логин:     <span class="asterix">*</span></p>
                    {{ user_form.username }}
                </div>
                <div class="field">
                    <p>Пароль:     <span class="asterix">*</span></p>
                    {{ user_form.password1 }}
                </div>
                <div class="field">
                    <p>Повторите пароль:     <span class="asterix">*</span></p>
                    {{ user_form.password2 }}
                </div>
            </div>

           <div class="buttons">
                <button type="submit">Регистрация</button>
           </div>
        </form>
    </div>
</div>
{% endblock %}
