<!-- Содержимое страницы создания пользователя new_request.html, подставляемое в шаблон -->

<!-- Объявление шаблона, в который будут подставляться данные -->
{% extends 'main/base_template_user.html' %}
{% load static %}

<!-- Подключение дополнительного CSS -->
{% block additional_css %}
<link rel="stylesheet" href="{% static 'main/css/new_request.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

<!-- Заголовок страницы -->
{% block title %}Создание пользователя{% endblock %}

{% block main %}

<div class="main">
    <div class="container">
        <div class="header">
            <h3>Создание заявки</h3>
        </div>
        <div class="body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="rows">
                        <p>Название заявки<span class="asterix">*</span> :</p>
                        {{ request_form.request_name }}
                        <p>Описание заявки<span class="asterix">*</span> :</p>
                        {{ request_form.request_description }}
                        <div class="properties">
                            <p>Приоритет<span class="asterix">*</span> : {{ request_form.priority }}</p>
                            <p>Желаемая дата исполнения: {{ request_form.desired_date }}</p>
                        </div>
                        <p>Прикрепить объекты: {{ request_form.attachment }}</p>
                    </div>
                <div class="buttons">
                    <button type="submit" class="submit_button">Создать заявку</button>
                    <button onclick="window.location.href='{% url 'requests' %}';" type="button" class="cancel_button">Назад</button>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}