<!-- Содержимое страницы со списком пользователей user_list.html, подставляемое в шаблон -->

<!-- Объявление шаблона, в который будут подставляться данные -->
{% extends 'main/base_template.html' %}
{% load static %}

<!-- Подключение дополнительного CSS -->
{% block additional_css %}
<link rel="stylesheet" href="{% static 'main/css/user_list.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

<!-- Заголовок страницы -->
{% block title %}Управление пользователями{% endblock %}

<!-- Текст на странице -->
{% block main %}
<h2>Список пользователей</h2>
<div class="query_bar">
  <div class="wrap">
        <div class="search_bar">
          <input type="text" class="search_query" placeholder="Поиск по списку...">
          <button type="submit" class="search_button">
          <i class="fa fa-search"></i>
          </button>
        </div>
  </div>
<a href="{% url 'new_user' %}" class="create_user_button"><i class="fa-solid fa-plus button_icon"></i>Добавить пользователя</a>
</div>

<table class="user_list">
 <tr class="table_header">
     <th class="header_cell">ID</th>
     <th class="header_cell">Фамилия</th>
     <th class="header_cell">Имя</th>
     <th class="header_cell">Отчество</th>
     <th class="header_cell">Подразделение</th>
     <th class="header_cell">Должность</th>
     <th class="header_cell">Email</th>
     <th class="header_cell">Телефон</th>
     <th class="header_cell">Имя пользователя</th>
     <th class="header_cell">Роль</th>
     <th class="header_cell"></th>
 </tr>

 {% for user in users %}
 <tr class="table_user_row">
     <td class="user_cell">{{user.id}}</td>
     <td class="user_cell">{{user.last_name}}</td>
     <td class="user_cell">{{user.first_name}}</td>
     <td class="user_cell">{{user.profile.patron}}</td>
     <td class="user_cell">{{user.profile.job.division}}</td>
     <td class="user_cell">{{user.profile.job}}</td>
     <td class="user_cell">{{user.email}}</td>
     <td class="user_cell">{{user.profile.phone}}</td>
     <td class="user_cell">{{user.username}}</td>
     <td class="user_cell">{{user.groups.all.0}}</td>
     <td class="user_button_cell"><i class="fa-regular fa-pen-to-square fa-xl alter_button"></i></td>
  </tr>
 {% endfor %}
</table>

{% endblock %}

