{% extends 'account_app/login_base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert">
    <span class="closebtn" onclick="this.ParentElement.style.display='none';">&times;</span>
    <div class="message {{ message.tags }}">
     {{ message }}
    </div>
</div>
{% endfor %}

<script>
  var close = document.getElementsByClassName("closebtn");
  var i;

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
      var div = this.parentElement;
      div.style.opacity = "0";
      setTimeout(function(){ div.style.display = "none"; }, 600);
    }
  }
</script>

<div class="login_form">
  <div class="container">
    <h1>Войти в HelpDesk</h1>
    <p class="h2">Пожалуйста, укажите свои данные для входа:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input class="login_button" type="submit" value="Войти"></p>
    </form>
  </div>
</div>
{% endblock %}
